#kaocha/v1
{:tests [{:id :unit
          :test-paths ["core/test" "auth/test" "storage/test" "realtime/test" "postgrest/test"]
          :source-paths ["core/src" "auth/src" "storage/src" "realtime/src" "postgrest/src"]
          :ns-patterns [".*-test$"]}]}
